<!DOCTYPE html>
<html lang="en">
<head>
    <title>ComicCollab</title>
    <!-- Bootstrap core CSS -->
    <link href="../node_modules/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../node_modules/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../stylesheets/jumbotron.css" rel="stylesheet">
    
</head>
<style>
body  {
    background-image: url("color/lightcomicwall.png");
}
</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../home">ComicCollab</a>
        <div class="navbar-header">
            <form class="navbar-form" role="search" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search" style="font-size: 110%"></i></button>
                    </div>
                </div>
            </form>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            </button>
        </div>
        <%if (cur.getIsLoggedIn()){%>
        <div id="navbar" class="navbar-collapse collapse">
            <ul>
                <a href="../uploadcomics/" class="btn btn-info" role="button" id='button_createComic' style="margin-top: 8px;">Create Comic</a>
                <a href="../myprofile" class="btn btn-info" role="button" id='button_profile' style="margin-top: 8px;">Profile</a>
                <a href="../userlist" class="btn btn-info" role="button" id='button_createComic' style="margin-top: 8px;">Users</a>
                <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
                            Browse <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="../sortbyviews">by views</a></li>
                            <li><a href="../sortbylikes">by likes</a></li>
                        </ul>
                </div>
                <div style="float: right;">
                    <a href="../logout" class="btn btn-info" role="button" id='button_logout' style="margin-top: 8px;">Logout</a>
                </div>
            </ul>
        </div>
        <% }else {%>
        <div id="navbar" class="navbar-collapse collapse">
            <ul>
                <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
                            Browse <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="../sortbyviews">by views</a></li>
                            <li><a href="../sortbylikes">by likes</a></li>
                        </ul>
                </div>
                <div style="float: right;">
                <a href="../register" class="btn btn-info" role="button" id='button_createprofile' style="margin-top: 8px;">Register</a>
                <a href="../login" class="btn btn-info" role="button" id='button_login' style="margin-top: 8px;">Login</a>
                </div>
            </ul>
        </div>
        <%}%>

        </div><!--/.navbar-collapse -->
    </div>
</nav>
<br>
<br>
<div class="container">
    <div style="min-width: 950px">
        <% for (var i=urls.length-1; i>=0; i--) { %>
        <a href="<%=comicIds[i]%>">
            <img style="width: 224px; height:224px; box-shadow: 0px 0px 0px 3px rgba(204,255,204,1)" src="<%= urls[i]%>" />
        </a>
        <% } %>
        <div style="min-width: 1150px">
</div>

<div class="container">

    <footer>
        <p>&copy; ComicCollab  </p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../node_modules/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../node_modules/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
