<html>
<head>
    <title>ComicCollab</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../../home">ComicCollab</a>
    </div>
</nav>

<% if (step == 1) { %>
<div class="container">
    <div style="margin-top: 150px">
        <h1>Reset Password: Step 1</h1>
        <p>
            <small>Please enter your username</small>
        </p>
        <form method="post" role="form" class="login-form form-horizontal">
            <input name="_csrf" type="hidden"/>
            <div class="form-group">
                <label class="col-sm-4">Your Username</label>
                <div class="col-sm-8">
                    <input placeholder="username" required="required" name="username" type="text" class="form-control"/>
                    <br>
                    <input type="submit" class="login btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
<% } else if (step == 2) { %>
<div class="container">
    <div style="margin-top: 150px">
        <h1>Reset Password: Step 2</h1>
        <p><%= username %>, please enter your security answer</p>
        <form method="post" role="form" class="login-form form-horizontal">
            <input name="_csrf" type="hidden"/>
            <div class="form-group">
                <div class="col-sm-4">
                    <h4>Your Security Question:</h4>
                    <%= securityQuestion %>
                </div>
                <div class="col-sm-8">
                    <h4>Security Question Answer:</h4>
                    <input placeholder="Security Question Answer" required="required" name="securityAnswer" type="text"
                           class="form-control"/>
                    <br>
                    <input type="submit" class="login btn btn-primary">
                </div>
            </div>

        </form>
    </div>
</div>
<% } else if (step == 3) { %>
    <% if (isConfirmed) { %>
    <div class="container">
        <div style="margin-top: 150px">
            <h1>Reset Password: Step 3</h1>
            <p><%= username %>, please enter your security answer</p>
            <form method="post" role="form" class="login-form form-horizontal">
                <input name="_csrf" type="hidden"/>
                <div class="form-group">
                    <div>
                        <h4>New Password:</h4>
                        <input placeholder="New Password" required="required" name="password" type="password"
                               class="form-control"/>
                        <h4>Confirm New Password:</h4>
                        <input placeholder="Confirm New Password" required="required" name="confirmPassword" type="password"
                               class="form-control"/>
                        <br>
                        <input type="submit" class="login btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <% } else { %>
    <div class="container">
        <div style="margin-top: 150px">
            You have not answered the security question.
        </div>
    </div>
    <% } %>
<% } else if (step == 4) { %>
<div class="container">
    <div style="margin-top: 150px">
        <h1>Success! Your password has been reset.</h1>
        <a href="../../../login"><button class="login btn btn-primary">Go to Login</button></a>
    </div>
</div>
<% } %>

</body>
</html>