<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="../home">ComicCollab</a>
    </div>
    <div class="page-header" style="margin-top: 60px">
        <h1>Search Results</h1>
    </div>
    <div class="col-lg-6">
        <h4>Users</h4>
        <% if (userExists == 1) { %>
        <p>
            <a href = "../users/<%= username %>">
                <%= username %>
            </a>
        </p>
        <% } else { %>
        <p>No user exists with this name</p>
        <% } %>
        <h4>Comics</h4>
        <% if (tagExists == 1) { %>
        <% for (var i = 0; i < comicIds.length; i++) { %>
        <p>
            <a href = "../comic/<%= comicIds[i] %>">
                <%= comicIds[i] %>
            </a>
        </p>
        <% } %>
        <% } else { %>
        <p>No comic exists with this tag</p>
        <% } %>
        <br>
    </div>
</div>
</body>
</html>