<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../home">ComicCollab</a>
    </div>
</nav>
<div class="container">
    <div class="page-header" style="margin-top: 100px">
        <h1>Sorted By Likes</h1>
        </div>
        <ol>
            <% comics.forEach(function(comic, index) { %>
            <li><a href = "comic/<%= comic.comicId %>"><img style="height:25px; width:25px;" src="<%= comicThumbnails[index] %>"> <%= comic.title %></a></li>
            <% }); %>
        </ol>
    </div>
</body>
</html>