<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Select your image:</label>
    <input type="file" name="file" id="file" />
    <span class="hint">Supported files: jpg, jpeg, png.</span>
    <button type="submit">publish</button>
</form>