<form action="/upload" method="post" action="file-upload-1.htm" name="submit" enctype="multipart/form-data">
    <h1>UPLOAD A COMIC WEBPAGE</h1>
    <h3>Upload an Image:</h3>
    <p>Must be:</p>
    <ul>
        <li>PNG, JPEG, or JPG</li>
        <li>Not larger than 500 MB</li>
        <li>Be a square at maximum 500 by 500 pixels</li>
    </ul>
    <input type="file" name="fileField"><br /><br />
    <input type="submit" name="publish" value="Publish">
</form>