<html>

<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../home">ComicCollab</a>
        </div>
        <div class="page-header" style="margin-top: 60px">
            <h1>Userlist</h1>
        </div>
        <ol>
            <% userlist.forEach(function(user) { %>
            <li><a href = "users/<%= user.username %>"><%= user.username %></a></li>
            <% }); %>
        </ol>
        <br>
        <br>
        <a href="../home">Back To Home Page</a>
    </div>
</body>

</html>